<!--NavBar -->
<nav>
<div class="navbar">

        <% if(typeof displayName =='string' && displayName) { %>
          <li class="navbar-text">
          <i class="fas fa-lg fa-user"></i>
          Hello <%= displayName %> </li>
          <li class="nav-item">
          <a href="/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a></li>
        <% } else { %>
          <li class="nav-item">
            <a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i>Login</a></li>
        <% } %>
  
      </div>

  </nav>