<!--NavBar -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">JerseyMania</p>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home Page</a></li>
              <li class="navbar-text">
              <i class="fas fa-lg fa-user"></i>
              <li class="nav-item">
              <li class="nav-item">
               <li> <a href="/login" class="nav-link">
                <i class="fas fa-lg fa-sign-in-alt"></i>Login</a></li>
            <li><a href = "/register">Register</a></li>    
            <li><a href = '/current_jerseys'>Current Jerseys</a></li> 
            <li><a href = '/vintage_jerseys'>Vintage Jerseys</a></li> 
            <li><a href = "/categories">Categories</a></li>
    </ul>
  </div>
</nav>
  