<!DOCTYPE html>
<html lang="en">
  <%- include("partials/nav.ejs"); %>
<head>
  <title>Hall Of Champions</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">



</head>
  
<body>

<h1>Add Wrestler</h1>
<br>
<img src = "/images/bret.jpg" id = "bret">
<img src = "/images/punk.jpg" id = "punk">
<center>
  <div class = "container">
  <form class = "form" method = "post">
    <div class="form-group">
      <label for="wrestler_name">Wrestler Name: </label>
      <input type="text" class="form-control" id = "wrestler_name" name = "wrestler_name" required placeholder="Enter Wrestler Name">
      </div>
      <div class="form-group">
        <label for="world_championships">Number of World Championships: </label>
        <input type="text" class="form-control" id = "world_championships" name = "world_championships" required placeholder="Enter Number of World Championships">
        </div>
      <div class="form-group">
        <label for="companies">Companies: </label>
        <input type="text" class="form-control" id = "companies" name = "companies" required placeholder="Enter Companies">
        </div>

        <div class="form-group">
          <label for="years_active">Years Active: </label>
          <input type="text" class="form-control" id = "years_active" name = "years_active" required placeholder="Enter Active Years">
          </div>
    
      <button id = "submit" type = "submit">Submit</button>
  </form>
  </div>
  </center>




</body>

<%- include("partials/foot.ejs"); %>

</html>