#logo {
 position:absolute;
 top:0px;
 right:0px;
 width:6%; 

}


table, th, td {
  width: 5%;
  border:3px solid black;
}


.navbar.navbar-inverse {
background-color: red;

}



body,html{
  margin:0;
  width:100%;
  background-color: white;
}

h1{
  text-align: center;
  color:black;
}

#real{
  float:left;
  width: 25%;
  margin-left: 7%;
}

#manu{
  margin-left: 7%;
  width: 17.2%;
}

#barca{
  float:right;
  width: 25%;
  margin-right: 8%;
}

p{
  margin-left: 1%;
  color:black;
}

.btn.btn-primary{
  background-color: red;
  border-color: red;
}


.navbar.navbar-inverse *{
  color:white;
}

.nav.navbar-nav li a {
  color: white;
}

.btn.btn-success{
  background-color: red;
  border-color:red;
}

.btn.btn-warning{
  background-color: red;
  border-color:red;
}

#messi{
  float:left;
  width:18%;
  margin-left: 10%;

}

#ronaldo{
  float:right;
  width:23%;
  margin-right: 15%;
}

form{
  margin-left: 5%;


}

.form{
  width:35%;
}

button{
  background-color: red;
  border-color: red;
  color:white;
}

#bret{

  width:22%;
  float: left;
  margin-left: 7%;
}

#punk{

  width:22%;
  float: right;
  margin-right: 7%;
}

#mbappe {

  width:22%;
  float: left;
  margin-left: 12%;
}

#neymar{

  width:22%;
  float:right;
  margin-right:10%;
}

#cody{

  width:20%;
  float:left;
  margin-left:10%
}

#cena {

  width:25%;
  float:right;
  margin-right: 5%;
}

.bottom{
  overflow: hidden;
  background-color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom p {

  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

